<x-header>Header</x-header>
<div class="page-content">
    <main>
        <section class="page-section">
            <h3>Switch Button</h3>
            <x-switcher name="switcher"></x-switcher>
            <x-checkbox name="checkbox" checked="checked"></x-checkbox>
            <div id="icheck"></div>
        </section>

        <section class="page-section">
            <h3>Select</h3>
            <x-select name="select">
                <x-option value="A">--- A ---</x-option>
                <x-option value="B">--- B ---</x-option>
                <x-option value="C">--- C ---</x-option>
                <x-option value="D">--- D ---</x-option>
            </x-select>
        </section>

        <section class="page-section">
            <h3>Datetimepicker</h3>
            <x-datetimepicker name="picker"></x-datetimepicker>
        </section>

        <section class="page-section">
            <h3>Tabs</h3>
            <x-tabs name="tab">
                <group>
                    <trigger>AA</trigger>
                    <target>
                        <h4>AAA Panel</h4>
                        <p>there is something of A.</p>
                    </target>
                </group>
                <group active="active">
                    <trigger>BB</trigger>
                    <target>
                        <h4>BBB Panel</h4>
                        <p><x-switcher name="tabSwitcher" checked="checked"></x-switcher><b>switcher</b></p>
                    </target>
                </group>
                <group>
                    <trigger>CC</trigger>
                    <target><h4>CCC Panel</h4></target>
                </group>
            </x-tabs>
        </section>

        <section class="page-section">
            <h3>Table</h3>
            <x-table name="table" options="getTableOption"></x-table>
        </section>
    </main>
</div>
<x-footer>Footer</x-footer>
